/* Colors */
:root {
    --primary-color: #333;      /* Dark mode: Background and primary text color */
    --secondary-color: #555;    /* Dark mode: Hover background color */
    --accent-color: #fff;       /* Dark mode: Accent color for icons */
    --light-bg-color: #f0f0f0;  /* Light mode: Background color */
    --light-text-color: #333;   /* Light mode: Primary text color */
    --light-hover-bg-color: #f0f0f0; /* Light mode: Hover background color */
  }
  
  /* Example animated class */
  .icon {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-30px);
    }
  
    60% {
      transform: translateY(-15px);
    }
  }
  
  /* Add global styles here */
  
  /* Set max width to 1920px for the entire content */
  .app-wrapper {
    max-width: 1920px;
    margin: 0 auto; /* Center the content horizontally */
    padding: 0 15px; /* Add some horizontal padding to the content */
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  /* Dark mode styles */
  .dark-mode {
    background-color: var(--primary-color);
    color: var(--accent-color);
  }
  
  .dark-mode .nav-link:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
  }
  
  .dark-mode .custom-navbar {
    background-color: var(--primary-color);
  }
  
  .dark-mode .slide-menu {
    background-color: var(--primary-color);
  }
  
  .dark-mode .close-icon {
    color: var(--accent-color);
  }
  
  .dark-mode .loading-container {
    background-color: var(--primary-color);
  }
  
  .dark-mode .icon {
    color: var(--accent-color);
  }
  
  /* Light mode styles */
  .light-mode {
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
  }
  
  .light-mode .nav-link:hover {
    background-color: var(--light-hover-bg-color);
    border-radius: 5px;
  }
  
  .light-mode .custom-navbar {
    background-color: var(--light-bg-color);
  }
  
  .light-mode .slide-menu {
    background-color: var(--light-bg-color);
  }
  
  .light-mode .close-icon {
    color: var(--light-text-color);
  }
  
  .light-mode .loading-container {
    background-color: var(--light-bg-color);
  }
  
  .light-mode .icon {
    color: var(--light-text-color);
  }
  